{% extends "reporte/base.html" %}
{% block content %}
	<div class="service_details_area_NEW">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                    <div class="service_details_info">
                        <h3>Ecoparque de las Garzas</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bradcam_area2 bradcam_basic_color2">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-l-6 col-m-6 col-sm-6 col-6">
					<div class="container" style="margin: 0; position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">	
						<div class="row">
							<table style="width: 100%; border: solid 3px gray;">
                                <tr>
                                    <th style="color: white; border: solid 3px gray;">Cuerpo de agua (HA)</th>
                                    <td style="color: white; border: solid 3px gray;"> 0.8</td>
                                </tr>
                                <tr>
                                    <th style="color: white; border: solid 3px gray;">Franja forestal protectora (HA)</th>
                                    <td style="color: white; border: solid 3px gray;">3.9</td>
                                </tr>
                                <tr>
                                    <th style="color: white; border: solid 3px gray;">Área total del humedal (HA) </th>
                                    <td style="color: white; border: solid 3px gray;">4.7</td>
                                </tr>
                                <tr>
                                    <th style="color: white; border: solid 3px gray;">Jurisdicción</th>
                                    <td style="color: white; border: solid 3px gray;">Comuna 22</td>
                                </tr>
							</table>
						</div>
						<br>
						<div class="row">
							<p style="color: white">Tipo de humedal: Humedales artificiales, Tipo 2</p>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="section-top-border">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mt-sm-30">
					<img src="/static/reporte/img/las_garzas.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-md-6 mt-sm-30">
					<h3 class="mb-20">Servicios del Ecosistema</h3>
					<ul class="unordered-list">
						<li> Posee una gran riqueza florística
                            para el territorio urbano</li>
						<li>Genera un área de
                            refugio para un gran número de especies de fauna silvestre</li>
						<li>El humedal del Ecoparque cumple una gran función social
                            como espacio de participación ciudadana, de encuentro con la naturaleza, de observación, etc. </li>
						<li>Recarga de aguas acuíferos</li>
						<li>Purificación de agua, actúa como sumidero de sedimentos.</li>
						<li>Protección contra tormentas</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="section-top-border">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mt-sm-30">
					<h3 class="mb-20">Características del humedal</h3>
					<p>La ubicación del humedal del lago de las Garzas es estratégica ya que se puede constituir
                        como un punto de conexión entre la zona urbana de la ciudad de Cali y fragmentos de
                        bosque en regeneración como el observado en el Ecoparque del río Pance. La presencia de
                        un corredor de conexión, brinda una oportunidad única de conservación y de suministro de
                        hábitat para muchas especies de fauna.</p>
				</div>
				<div class="col-md-6 mt-sm-30">
					<img src="/static/reporte/img/las_gr.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<div class="counter_area" style="padding-bottom:0;">
        <div class="container">
        	<div class="row">
        		<div class="col-md-6 mt-sm-30">
					<h3 class="mb-20">Estudio de Biodiversidad (Especies)</h3>
            	</div>
        	</div>
            <div class="offcan_bg" style="padding: 0;">
                <div class="row">
                    
                    <div class="col-xl-3 col-md-3">
                        <div class="single_counter text-center">
                            <img src="/static/reporte/img/pez.png" alt="">
                            <h3> <span class="counter" style="color: #245922">6</span></h3>
                            <p>Fauna Acuática</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2">
                        <div class="single_counter text-center">
                            <img src="/static/reporte/img/serpiente.png" alt="">
                            <h3> <span class="counter" style="color: #245922">12</span></h3>
                            <p>Reptiles y Anfibios</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2">
                        <div class="single_counter text-center">
                            <img src="/static/reporte/img/mariposa.png" alt="">
                            <h3> <span class="counter" style="color: #245922">8</span></h3>
                            <p>Mastofauna</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2">
                        <div class="single_counter text-center">
                            <img src="/static/reporte/img/ave.png" alt="">
                            <h3> <span class="counter" style="color: #245922">119</span></h3>
                            <p>Avifauna</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2">
                        <div class="single_counter text-center">
                            <img src="/static/reporte/img/hoja.png" alt="">
                            <h3> <span class="counter" style="color: #245922">39</span></h3>
                            <p>Flora</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="service_area" style="padding: 0;">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-lg-4">
                    <a href="{% url 'reporte-garzas-flora' %}">
                    <div class="single_service">
                        <div class="thumb">
                            <img src="/static/reporte/img/flora.jpg" alt="">
                        </div>
                        <div class="service_info">
                            <h3 style="text-align: center"><a href="{% url 'reporte-garzas-flora' %}">Flora</a></h3>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="{% url 'reporte-garzas-fauna' %}">
                    <div class="single_service">
                        <div class="thumb">
                            <img src="/static/reporte/img/fauna.jpeg" alt="">
                        </div>
                        <div class="service_info">
                            <h3 style="text-align: center"><a href="{% url 'reporte-garzas-fauna' %}">Fauna</a></h3>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="{% url 'reporte-garzas-acuatica' %}">

                    <div class="single_service">
                        <div class="thumb">
                            <img src="/static/reporte/img/fauna_acuatica.jpg" alt="">
                        </div>
                        <div class="service_info">
                            <h3 style="text-align: center"><a href="{% url 'reporte-garzas-acuatica' %}">Fauna Acuática</a></h3>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- 
                <div class="col-md-6 col-lg-4">
                    <div class="single_service">
                        <div class="thumb">
                            <img src="/static/reporte/img/wetland.png" alt="">
                        </div>
                        <div class="service_info">
                            <h3><a href="#">Ocean Freight</a></h3>
                            <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single_service">
                        <div class="thumb">
                            <img src="/static/reporte/img/wetland.png" alt="">
                        </div>
                        <div class="service_info">
                            <h3><a href="#">Land Transport</a></h3>
                            <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">

                    <div class="single_service">
                        <div class="thumb">
                            <img src="/static/reporte/img/wetland.png" alt="">
                        </div>
                        <div class="service_info">
                            <h3><a href="#">Air Freight</a></h3>
                            <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
    <div class="container mt-30 mb-30">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
            

              <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=458&amp;hl=en&amp;q=Ecoparque%20las%20garzas%20Santiago%20de%20Cali+()&amp;t=k&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='http://maps-website.com/es'>http://www.Maps-Generator</a> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=e2c933c0f8680b13915a2a4a173d2716f429cac0'></script>
        </div>
    </div>
{% endblock content %}