{% extends "reporte/base.html" %}
{% block content %}
    <div class="service_details_area_NEW">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                    <div class="service_details_info">
                        <h3>Humedal El Retiro</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bradcam_area2 bradcam_basic_color2">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-l-6 col-m-6 col-sm-6 col-6">
                    <div class="container" style="margin: 0; position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">  
                        <div class="row">
                            <table style="width: 100%; border: solid 3px gray;">
                                <tr>
                                    <th style="color: white; border: solid 3px gray;">Area estacional (HA)</th>
                                    <td style="color: white; border: solid 3px gray;">12.8</td>
                                </tr>
                                <tr>
                                    <th style="color: white; border: solid 3px gray;">Area permanente (HA)</th>
                                    <td style="color: white; border: solid 3px gray;">47</td>
                                </tr>
                                <tr>
                                    <th style="color: white; border: solid 3px gray;">Latitud, Altitud</th>
                                    <td style="color: white; border: solid 3px gray;">3.22, 76.32</td>
                                </tr>
                                <tr>
                                    <th style="color: white; border: solid 3px gray;">Jurisdicción</th>
                                    <td style="color: white; border: solid 3px gray;">Comuna 22</td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <div class="row">
                            <p style="color: white">Tipo de humedal: Humedales artificiales, Tipo 2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="section-top-border">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-sm-30">
                    <img src="/static/reporte/img/wetland.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-6 mt-sm-30">
                    <h3 class="mb-20">Servicios del Ecosistema</h3>
                    <ul class="unordered-list">
                        <li>Fuente de agua para la agricultura</li>
                        <li>Fuente de especies vegetales notables</li>
                        <li>Proteger a las comunidades de eventos extremos como inundaciones y tormentas</li>
                        <li>Recarga de aguas subterráneas</li>
                        <li>Purificación de agua, actúa como sumidero de sedimentos.</li>
                        <li>Hábitat de especies faunísticas destacadas</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section-top-border">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-sm-30">
                    <h3 class="mb-20">Características del humedal</h3>
                    <p>Está situado a 800 metros sobre el nivel del mar, es parte de ghats occidentales y muchas variedades endémicas en peligro de extinción y raras de flora y fauna que se encuentran aquí. ecológicamente muy área sensitiva. Es un corredor para ardillas y otros animales salvajes del entorno.</p>
                </div>
                <div class="col-md-6 mt-sm-30">
                    <img src="/static/reporte/img/wetland.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="counter_area" style="padding-bottom:0;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-sm-30">
                    <h3 class="mb-20">Estudio de Biodiversidad</h3>
                </div>
            </div>
            <div class="offcan_bg" style="padding: 0;">
                <div class="row">
                    <div class="col-xl-2 col-md-2">
                        <div class="single_counter text-center">
                            <img src="/static/reporte/img/wetland.png" alt="">
                            <h3> <span class="counter" style="color: #245922">56</span></h3>
                            <p>WETLAND SURVEYS</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2">
                        <div class="single_counter text-center">
                            <h3> <span class="counter" style="color: #245922">485</span></h3>
                            <p>FLORA SPECIES</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2">
                        <div class="single_counter text-center">
                            <h3> <span class="counter" style="color: #245922">60</span></h3>
                            <p>INSECT SPECIES</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2">
                        <div class="single_counter text-center">
                            <h3> <span class="counter" style="color: #245922">154</span></h3>
                            <p>BIRD SPECIES</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2">
                        <div class="single_counter text-center">
                            <h3> <span class="counter" style="color: #245922">8</span></h3>
                            <p>REPTILE SPECIES</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2">
                        <div class="single_counter text-center">
                            <h3> <span class="counter" style="color: #245922">4</span></h3>
                            <p>MAMMAL SPECIES</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="service_area" style="padding: 0;">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-lg-4">
                    <div class="single_service">
                        <div class="thumb">
                            <img src="/static/reporte/img/flora.jpg" alt="">
                        </div>
                        <div class="service_info">
                            <h3 style="text-align: center"><a href="#">Flora</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single_service">
                        <div class="thumb">
                            <img src="/static/reporte/img/fauna.jpeg" alt="">
                        </div>
                        <div class="service_info">
                            <h3 style="text-align: center"><a href="#">Fauna</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">

                    <div class="single_service">
                        <div class="thumb">
                            <img src="/static/reporte/img/fauna_acuatica.jpg" alt="">
                        </div>
                        <div class="service_info">
                            <h3 style="text-align: center"><a href="#">Fauna Acuática</a></h3>
                        </div>
                    </div>
                </div>
                <!-- 
                <div class="col-md-6 col-lg-4">
                    <div class="single_service">
                        <div class="thumb">
                            <img src="/static/reporte/img/wetland.png" alt="">
                        </div>
                        <div class="service_info">
                            <h3><a href="#">Ocean Freight</a></h3>
                            <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="single_service">
                        <div class="thumb">
                            <img src="/static/reporte/img/wetland.png" alt="">
                        </div>
                        <div class="service_info">
                            <h3><a href="#">Land Transport</a></h3>
                            <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">

                    <div class="single_service">
                        <div class="thumb">
                            <img src="/static/reporte/img/wetland.png" alt="">
                        </div>
                        <div class="service_info">
                            <h3><a href="#">Air Freight</a></h3>
                            <p>Esteem spirit temper too say adieus who direct esteem.</p>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
    <div class="container mt-30 mb-30">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-12">
           <iframe width="100%" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Humedal%20el%20retiro&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
        </div>
    </div>
{% endblock content %}