{% extends "reporte/base.html" %}
{% load static %}
{% block content %}

    		<!-- bradcam_area  -->
		<div class="bradcam_area bradcam_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text text-center">
                            <h3>Fauna Acuatica La Babilla</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ bradcam_area  -->
        <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                    <h3>Galeria Humedal La Babilla</h3>
                    <div class="row gallery-item">
                        <div class="col-md-4">
                            
                            <a href="{% static 'reporte/img/elements/ave1.jpg' %}" class="img-pop-up " title="hola personas">
                                <div class="single-gallery-image" style="background: url({% static 'reporte/img/elements/ave1.jpg' %});"></div>
                            </a>
                           
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore .</p>
                        </div>
                        <div class="col-md-4">
                            <a href="{% static 'reporte/img/elements/ave2.jpg' %}" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url({% static 'reporte/img/elements/ave2.jpg' %});"></div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{% static 'reporte/img/elements/ave3.jpg' %}" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url({% static 'reporte/img/elements/ave3.jpg' %});"></div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="{% static 'reporte/img/elements/ave4.jpg' %}" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url({% static 'reporte/img/elements/ave4.jpg' %});"></div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="{% static 'reporte/img/elements/ave5.jpg' %}" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url({% static 'reporte/img/elements/ave5.jpg' %});"></div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{% static 'reporte/img/elements/ave6.jpeg' %}" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url({% static 'reporte/img/elements/ave6.jpeg' %});"></div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{% static 'reporte/img/elements/ave7.jpeg' %}" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url({% static 'reporte/img/elements/ave7.jpeg' %});"></div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{% static 'reporte/img/elements/ave8.jpg' %}"class="img-pop-up">
                                <div class="single-gallery-image" style="background: url({% static 'reporte/img/elements/ave8.jpg' %});"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <div>
{% endblock content %}