{% extends "reporte/base.html" %}
{% load static %}
{% block content %}

                <!-- contact_action_area  -->
                <div class="contact_action_area">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-md-6">
                                <div class="action_heading">
                                    <h3>Planes de Manejo Ambiental</h3>
                                    
                                </div>
                            </div>
                           <!-- testimonial_area  -->
                           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="background-image: url(/static/reporte/img/wetland.png);">slide1</div>
                                    <div class="swiper-slide">Slide 2</div>
                                    <div class="swiper-slide">Slide 3</div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>

<!-- /testimonial_area  -->
                        </div>
                        
                    </div>
                    
                </div>
                <!-- /contact_action_area  -->




                        <!-- chose_area  -->
            <div class="chose_area ">
                <div class="container">
                    <div class="features_main_wrap">
                        <div class="row  align-items-center">

                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="features_info">
                                    <h3>Plan manejo ambiental La Babilla</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                        Sindhudurg, a coastal district in south western Maharashtra, lies within the Konkan region. 
                                        The district has 8 administrative sub-units or tehsils.
                                        A total of 373 wetlands are mapped by Space 
                                        Application Centre ISRO, Ahmedabad in Sindhudurg, covering an area of 13,979 hectares.
                                        The major wetland type is creeks,
                                        followed by rivers/streams, tanks/ponds and sand/beaches. sed do eiusmod tempor incididunt.
                                    </p>
            
            
                                    <div class="about_btn">
                                        <a class="boxed-btn3-line" href="contact.html">Consulte el plan</a>
                                    </div>
                                </div>
                            </div>
                            <!--aca-->
                            <div class="col-xl-5 col-lg-5 col-md-6">
                                <div class="about_image">
                                    <img src="{% static 'reporte/img/plan1.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!--/ chose_area  -->

                                    <!-- chose_area  -->
            <div class="chose_area ">
                <div class="container">
                    <div class="features_main_wrap">
                        <div class="row  align-items-center">

                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="features_info">
                                    <h3>Plan manejo ambiental El Retiro</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                        Sindhudurg, a coastal district in south western Maharashtra, lies within the Konkan region. 
                                        The district has 8 administrative sub-units or tehsils.
                                        A total of 373 wetlands are mapped by Space 
                                        Application Centre ISRO, Ahmedabad in Sindhudurg, covering an area of 13,979 hectares.
                                        The major wetland type is creeks,
                                        followed by rivers/streams, tanks/ponds and sand/beaches. sed do eiusmod tempor incididunt.
                                    </p>
            
            
                                    <div class="about_btn">
                                        <a class="boxed-btn3-line" href="contact.html">Consulte el plan</a>
                                    </div>
                                </div>
                            </div>
                            <!--aca-->
                            <div class="col-xl-5 col-lg-5 col-md-6">
                                <div class="about_image">
                                    <img src="{% static 'reporte/img/plan2.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!--/ chose_area  -->

                                    <!-- chose_area  -->
            <div class="chose_area ">
                <div class="container">
                    <div class="features_main_wrap">
                        <div class="row  align-items-center">

                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="features_info">
                                    <h3>Plan manejo ambiental Lago Garzas</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                        Sindhudurg, a coastal district in south western Maharashtra, lies within the Konkan region. 
                                        The district has 8 administrative sub-units or tehsils.
                                        A total of 373 wetlands are mapped by Space 
                                        Application Centre ISRO, Ahmedabad in Sindhudurg, covering an area of 13,979 hectares.
                                        The major wetland type is creeks,
                                        followed by rivers/streams, tanks/ponds and sand/beaches. sed do eiusmod tempor incididunt.
                                    </p>
            
            
                                    <div class="about_btn">
                                        <a class="boxed-btn3-line" href="contact.html">Consulte el plan</a>
                                    </div>
                                </div>
                            </div>
                            <!--aca-->
                            <div class="col-xl-5 col-lg-5 col-md-6">
                                <div class="about_image">
                                    <img src="{% static 'reporte/img/plan3.webp' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!--/ chose_area  -->
            
   
{% endblock content %}