{% extends "reporte/base.html" %}
{% load static %}
{% block content %}
    
    <!-- Hero Section Begin -->
    <section class="hero-section">
      <div class="hs-slider owl-carousel">
          <div class="hs-item set-bg" data-setbg="{% static 'reporte/img/elretiro.jpg' %}">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="hs-text">
                              <h2>Humedal El Retiro</h2>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                  incididunt ut labore et<br /> dolore magna aliqua. Quis ipsum suspendisse ultrices
                                  gravida accumsan lacus vel facilisis.</p>
                              <a href="#" class="primary-btn">Contact us</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="hs-item set-bg" data-setbg="{% static 'reporte/img/lababilla.jpg' %}">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="hs-text">
                              <h2>Lago Las Garzas</h2>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                  incididunt ut labore et<br /> dolore magna aliqua. Quis ipsum suspendisse ultrices
                                  gravida accumsan lacus vel facilisis.</p>
                              <a href="#" class="primary-btn">Contact us</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>




    <!-- chose_area  -->
    <div class="chose_area ">
    <div class="container">
        <div class="features_main_wrap">
            <div class="row  align-items-center">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div class="about_image">
                        <img src="{% static 'reporte/img/about/about_humedal.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="features_info">
                        <h3>Humedales de Cali</h3>
                        <p>Los humedales en el Municipio de Santiago de Cali son áreas de especial importancia 
                            ecosistémica porque cumplen con unas funciones ecológicas estratégicas dentro de 
                            la dinámica hídrica, en la retención de partículas de dióxido de carbono, como
                             refugio de fauna y flora, además de ser lugares que albergan la migración
                              altitudinal y como elementos importantes dentro de la red de conectividad.
                        </p>


                        <div class="about_btn">
                            <a class="boxed-btn3-line" href="contact.html">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--/ chose_area  -->


        <!-- testimonial_area  -->
        <div class="testimonial_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-6">
                        
                        <div class="testmonial_active owl-carousel">
                            

                            
                            <div class="single_carousel">
                                
                                <div class="single_testmonial text-center">
                                    <img src="{% static 'reporte/img/about/about_humedal.jpg' %}" alt="">

                                </div>
                            </div>
                            <div class="single_carousel">
                                <div class="single_testmonial text-center">

                                    <img src="{% static 'reporte/img/about/about_humedal.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="single_carousel">
                                <div class="single_testmonial text-center">
                                    <img src="{% static 'reporte/img/about/about_humedal.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--joo-->
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="features_info">
                            <h3>Humedales de Cali</h3>
                            <p>Los humedales del municipio han sido delimitados e inventariados. En
                                 este momento, el municipio de Santiago de Cali cuenta con 80 humedales, 
                                 50 de ellos en la zona urbana y el resto ubicados en la zona plana de los
                                  corregimientos de 
                                la ciudad.15 de estos humedales son públicos. 
                            </p>
    
    
                            <div class="about_btn">
                                <a class="boxed-btn3-line" href="contact.html">Contact Us</a>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <!-- /testimonial_area  -->




    <!-- chose_area  -->
    <div class="chose_area ">
        <div class="container">
            <div class="features_main_wrap">
                <div class="row  align-items-center">
                    <div class="col-xl-5 col-lg-5 col-md-6">
                        <div class="features_info">
                            <h3>Humedales de Cali</h3>
                            <p>El DAGMA, ha venido realizando la implementación de estos planes
                                 de manejo ambiental mediante la ejecución de acciones prioritarias y el 
                                 monitoreo de la calidad del agua, que han permitido mejorar las condiciones 
                                 naturales de estos ecosistemas, así como la apropiación por parte de las 
                                 comunidades 
                                para su manejo conjunto y recuperación.
                            </p>
    
    
                            <div class="about_btn">
                                <a class="boxed-btn3-line" href="contact.html">Contact Us</a>
                            </div>
                        </div>
 
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="about_image">
                            <img src="{% static 'reporte/img/about/about_humedal.jpg' %}" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
        <!--/ chose_area  -->


            <!-- contact_action_area  -->
    <div class="contact_action_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7 col-md-6">
                    <div class="action_heading">
                        <h3>Cuida la biodiversidad</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem. It look estee luckily or picture
                            placing drawing.</p>
                    </div>
                </div>
                <div class="col-xl-5 col-md-6">
                    <div class="call_add_action">
                        <a href="#" class="boxed-btn3">Haz tu aporte con una imagen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /contact_action_area  -->


     <!-- chose_area  -->
    <div class="chose_area ">
        <div class="container">
            <div class="features_main_wrap">
                <div class="row  align-items-center">
                    <div class="col-xs-6 col-xl-5 col-lg-5 col-md-6">
                        <div class="features_info">

                            <iframe width="350" height="315" src="https://www.youtube.com/embed/82zTC3ZgcMk" frameborder="0" allow="accelerometer; autoplay; 
                            clipboard-write; encrypted-media; gyroscope;
                             picture-in-picture" allowfullscreen></iframe>
                        </div>
 
                    </div>
                    <div class=" col-xs-6 col-xl-5 col-lg-5 col-md-6">
                        
                        <iframe width="350" height="315" src="https://www.youtube.com/embed/x9KWU4Cx75I" frameborder="0" allow="accelerometer; autoplay; 
                        clipboard-write; encrypted-media; gyroscope; 
                        picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--/ chose_area  -->




    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <a href="#" class="boxed-btn3">Comparte las fotos y videos de los humedales que visitas</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->



        <!-- counter_area  -->
        <div class="counter_area">
            <div class="container">
                <div class="offcan_bg">
                    <div class="row">
                        <div class="col-xl-3 col-md-3">
                            <div class="single_counter text-center">
                                <img src="/static/reporte/img/ave.png" alt="">
                                <h3> <span class="counter">42</span> <span>+</span> </h3>
                                <p>Anfibios</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3">
                            <div class="single_counter text-center">
                                <img src="/static/reporte/img/serpiente.png" alt="">
                                <h3> <span class="counter">97</span> <span>+</span> </h3>
                                <p>Aves</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3">
                            <div class="single_counter text-center">
                                <img src="/static/reporte/img/mariposa.png" alt="">
                                <h3> <span class="counter">2342</span></h3>
                                <p>Flora</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3">
                            <div class="single_counter text-center">
                                <img src="/static/reporte/img/hoja.png" alt="">
                                <h3> <span class="counter">3245</span></h3>
                                <p>Aire</p>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        <!-- /counter_area  -->


{% endblock content %}