{% load static %}    
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Humedales DAGMA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'reporte/img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'reporte/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'reporte/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'reporte/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'reporte/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'reporte/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'reporte/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'reporte/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'reporte/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'reporte/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'reporte/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'reporte/css/slicknav.css' %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'reporte/css/swiper-bundle.css' %}" />
    <link rel="stylesheet" href="{% static 'reporte/css/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'reporte/css/auxSwiper.css' %}">

    <link rel="stylesheet" href="{% static 'reporte/css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->