{% extends "reporte/base.html" %}
{% block content %}
<div class="bradcam_area2 bradcam_basic_color">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bradcam_text text-center">
                    <h3 style="font-size: 30px; color: #fff; font-weight: 400; margin-bottom: 0; text-transform: capitalize;">Mis reportes </h3>
                </div>
            </div>
            <div class="col"></div>
            <div class="col">
                
                <div class="call_add_action">
                    <a href="{% url 'reporte-create' %}" class="boxed-btn3">Realizar aporte</a>
                </div>
            
            </div>
        </div>
    </div>
</div>






    <div  class="p-5 col-lg-8 mb-5 mb-lg-0">
        <div class="blog_left_sidebar">
            {% for reporte in reportes %}

            <article class="blog_item">
                <div class="blog_item_img">
                    <img class="card-img rounded-0" src="{{ reporte.image.url }}" alt="">
                    <a href="#" class="blog_item_date">
                        <h3>{{ reporte.fecha_reporte|date:"d" }}</h3>
                        <p>{{ reporte.fecha_reporte|date:"M" }}</p>
                    </a>
                </div>

                <div class="blog_details">
                    <a class="d-inline-block" href="{% url 'reporte-detail' reporte.id %}">
                        <h2>{{ reporte.titulo }}</h2>
                    </a>
                    <p>{{ reporte.descripcion }}
                    </p>
                    <ul class="blog-info-link">
                        <li><a href="#"><i class="fa fa-user"></i> {{ reporte.autor.name }}</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> 03 Comentarios</a></li>
                    </ul>
                </div>
            </article>


            {% endfor %}
        </div>



        <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
                {% if page_obj.has_previous %}
               
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                        <i class="ti-angle-left"></i>
                    </a>
                </li>
                {% endif %}
                
  

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item">
                        <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                    </li>
                    
                    {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <li class="page-item">
                        <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                    </li>
                    {% endif %}
                {% endfor %}


                {% if page_obj.has_next %}
              
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                        <i class="ti-angle-right"></i>
                    </a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </div>


{% endblock content %}