
{% extends "reporte/base.html" %}
{% block content %}

<div class="bradcam_area2 bradcam_basic_color">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-l-12 col-m-12 col-sm-12 col-12">
                <div class="bradcam_text text-center">
                    <h3 style="font-size: 40px; color: #fff; font-weight: 400; margin-bottom: 0; text-transform: capitalize;">
                    Recuperar Contraseña</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-xl-3"></div>
                        <div class="col-xl-6">
                            <div class="mt-10">
                                <label for="exampleFormControlTextarea1">Contraseña</label>
                                <input type="password" name="new_password1" placeholder="correo"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña'" required
                                    class="single-input" {% if form.is_bound %}value="{{ form.new_password1.value }}"{% endif %}>
                                    <span class="shadow-input1"></span>
                                    {% for err in form.password1.errors %}
                                        <small class="text-danger ml-2">{{ err }}</small><br>
                                    {% endfor %}
                            </div>
                            <div class="mt-10">
                                <label for="exampleFormControlTextarea1">Repite la contraseña</label>
                                <input type="password" name="new_password2" placeholder="contraseña"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'contraseña'" required
                                    class="single-input" {% if form.is_bound %}value="{{ form.new_password2.value }}"{% endif %}>
                                    {% for err in form.password2.errors %}
                                    <small class="text-danger ml-2">{{ err }}</small><br>
                                {% endfor %}
                                {% if form.errors %}
                                {% for field in form %}
                          
                                     {% for error in field.errors %}
                                     <p style="color:red">{{field.label}}: {{ error|escape }}</p>
                                          
                                          
                                     {% endfor %}
                          
                                {% endfor %}
                          {% endif %}
                            </div>

                        </div>

                        <div class="col-xl-3"></div>
                    </div>
                </div>
            </div>
        </div>





        <div class="container">
            <div class="row">
                <div class="col-xl-3"></div>
                <div class="col-xl-6">
                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                Guardar
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </button>
                    <div class="col-xl-3 border-top pt-5"></div>
                </div>
            </div>
        </div>
    </form>

</div>

{% endblock content %}