
{% extends "reporte/base.html" %}
{% block content %}

<div class="bradcam_area2 bradcam_basic_color">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-l-12 col-m-12 col-sm-12 col-12">
                <div class="bradcam_text text-center">
                    <h3 style="font-size: 40px; color: #fff; font-weight: 400; margin-bottom: 0; text-transform: capitalize;">
                    Recuperar contraseña</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content-section">
    <form method="POST">
        {% csrf_token %}
    
        
        <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-xl-3"></div>
                        <div class="col-xl-6">
                            <div class="mt-10">
                                Se envió el restablecimiento de contraseña. <br> <br> Le enviamos por correo electrónico instrucciones para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve. <br> <br>

                                Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.
                            </div>

                        
                        </div>

                        <div class="col-xl-3"></div>
                    </div>
                </div>
            </div>
        </div>





{% endblock content %}