

{% extends "reporte/base.html" %}
{% load static %}
{% block content %}


<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->


    <!-- testimonial_area  -->
    <div class="testimonial_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    
                    <!--img src="{% static 'reporte/img/avatar.jpg' %}" width="300" height="300" alt="" -->
                    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="300" height="300" >
                </div>

                <!--joo-->
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="features_info">
                        <h1 style="color:rgb(255, 255, 255)">{{ user.name }}</h1>
                        
                        <ul style="color:rgb(255, 255, 255)">
                            <li> Rol : Usuario </li>
                            <li> Cédula:  1144222787 </li>
                            <li> Correo: {{ user.email }}</li>
                        </ul>

        
                    </div>

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Profile Info</legend>
                           
                            {{ u_form.as_p}}
                            {{ p_form.as_p }}
                        
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Update</button>
                        </div>
                    </form>
                </div>
             



            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->

</body>

</html>
{% endblock content%}